@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
}

.width__full {
  min-width: 100vw;
}

.coming__soon {
  background-image: url('../public/images/blob-haikei.svg');
  background-size: cover;
  background-position: center;
}

.div1 {
  background-image: url('../public/images/wave-haikei.svg');
  background-size: cover;
  background-position: center;
}

 .div2 {
  background-image: url('../public/images/wave-haikei\ \(1\).svg');
  background-size: cover;
  background-position: center;
}

.div3 {
  background-image: url('../public/images/wave-haikei\ \(2\).svg');
  background-size: cover;
  background-position: center;
} 

.div4 {
  background-image: url('../public/images/wave-haikei\ \(3\).svg');
  background-size: cover;
  background-position: center;
} 

.div5 {
  background-image: url('../public/images/wave-haikei\ \(4\).svg');
  background-size: cover;
  background-position: center;
}

.div1__text {
  width: 50%;
  height: 100%;
}


.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.card-shadow {
  box-shadow: rgba(155, 155, 155, 0.3) 0 2px 6px,
    rgba(155, 155, 155, 0.22) 0 0 4px;
  border-radius: 24px;
}

.glassmorphism {
  background: rgba(20, 20, 20, 0.7);
  box-shadow: 0 8px 32px 0 rgba(133, 133, 133, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: rgb(66, 66, 66);
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.8) 40%,
    rgba(234, 234, 236, 0.45) 100%
  );
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #afafafd2, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}